/*-- scss:defaults --*/

$body-bg:                                 #313745 !default;
$body-color:                              #fdfdfd !default;
$headings-color:                          $body-color !default;
$font-family-sans-serif:                  "Newsreader", Georgia, serif !default;
$headings-font-family:                    "Newsreader", Georgia, serif !default;
$code-block-bg:                           lighten($body-bg, 3%) !default;
$navbar-bg:                               lighten($body-bg, 3%) !default;
$footer-bg:                               lighten($body-bg, 3%) !default;

$accent:                                  #8fb4de !default;

$link-color:                              $accent !default;
$link-shade-percentage:                   15% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

$code-color:                              darken($body-color, 10%) !default;
$code-bg:                                 lighten($body-bg, 10%) !default;

$card-border-color:                       $body-color !default;
$form-select-border-color:                $body-color !default;

/*-- scss:rules --*/

.card-footer {
    color: lighten($body-bg, 30%);
    background-color: lighten($body-bg, 2%);
}

.dark-mode { display: block; }
.light-mode { display: none; }

.section2 {
    background-color: lighten($body-bg, 3%);
}

.active:after {
    background-color: $accent;
}

.navbar {
    border-bottom: 2px solid rgba($accent, 0.5);
}

h2 {
    border-left-color: rgba($accent, 0.6);
}

.quarto-title-banner {
    background: lighten($body-bg, 3%);
}

.quarto-title-banner,
.quarto-title-banner a,
.quarto-title-banner h1,
.quarto-title-banner .h1,
.quarto-title-banner h2,
.quarto-title-banner .h2 {
    color: $body-color;
}

.logo-img,
.navbar-logo {
    filter: brightness(0) invert(1);
}